.add-amulet-fee-container {
  background-color: #1e1e1e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.add-amulet-fee-top-bar {
  background-color: #222222;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.add-amulet-fee-back-button {
  font-size: 1rem;
  cursor: pointer;
  color: #ffffff;
  background: none;
  margin-right: 1rem;
  border: none;
}

.add-amulet-fee-header h2 {
  color: #ffffff;
  margin: 0;
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.3rem;
}

.add-amulet-fee-main-content {
  overflow-y: auto;
  padding: 2rem;
  background-color: rgba(215, 215, 215, 0.01);
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a #2c2c2c;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-amulet-fee-form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.add-amulet-fee-column {
  display: grid;
  gap: 1rem;
  position: relative;
}

.add-amulet-fee-column:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -1rem;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #11a8fd;
}

.add-amulet-fee-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-amulet-fee-form-group h3 {
  margin-bottom: 0.7rem;
}
.add-amulet-fee-form-group label {
  font-weight: 600;
}

.add-amulet-fee-form-group input,
.add-amulet-fee-form-group select {
  width: 100%;
  padding: 10px;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  font-size: 1em;
  background-color: #2e323b;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #666;
  border-right: none;
  border-left: none;
  border-top: none;
}

.add-amulet-fee-form-group input:focus,
.add-amulet-fee-form-group select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #11a8fd;
}

.student-info-grid {
  display: grid;
  gap: 0.7rem;
  grid-template-columns: repeat(2, 1fr);
}

.text-primary-500 {
  margin-bottom: 0.7rem;
}

.info-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
}

.info-item label {
  color: #cccccc;
  font-weight: 600;
  font-size: 1rem;
}

.info-item span {
  color: #fff;
  font-size: 1rem;
}

.fee-inputs {
  display: grid;
  gap: 1rem;
}

.fee-inputs > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-amulet-fee-buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.add-amulet-fee-cancel-button,
.add-amulet-fee-save-button {
  padding: 0.5rem 2rem;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 600;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.add-amulet-fee-cancel-button {
  background-color: transparent;
  color: #11a8fd;
  border: 1px solid #11a8fd;
}

.add-amulet-fee-save-button {
  background-color: #11a8fd;
  color: #ffffff;
  border: none;
}

.add-amulet-fee-cancel-button:hover {
  background-color: rgba(17, 168, 253, 0.1);
}

.add-amulet-fee-save-button:hover {
  background-color: #0e86c9;
}

/* Toast Styles */
.Toastify__toast {
  background-color: #2c2c2c;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.Toastify__toast-body {
  font-family: inherit;
}

.Toastify__progress-bar {
  background-color: #4a4a4a;
}

.Toastify__close-button {
  color: #ffffff;
  opacity: 0.7;
}

.Toastify__close-button:hover {
  opacity: 1;
}

.Toastify__progress-bar--success {
  background-color: #4caf50;
}

.Toastify__progress-bar--error {
  background-color: #ff5252;
}

.Toastify__progress-bar--warn {
  background-color: #ffd740;
}

.Toastify__progress-bar--info {
  background-color: #29b6f6;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .add-amulet-fee-form-grid {
    grid-template-columns: 1fr;
  }

  .student-info-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .add-amulet-fee-column:not(:last-child)::after {
    display: none;
  }

  .add-amulet-fee-column:not(:last-child) {
    border-bottom: 2px solid #11a8fd;
    padding-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .student-info-grid {
    grid-template-columns: 1fr;
  }

  .info-item span {
    font-size: 0.9rem;
  }

  .add-amulet-fee-form-group input,
  .add-amulet-fee-form-group select {
    font-size: 0.875rem;
  }

  .add-amulet-fee-cancel-button,
  .add-amulet-fee-save-button {
    font-size: 0.875rem;
    padding: 0.5rem 1.5rem;
  }
}

@media (max-width: 480px) {
  .add-amulet-fee-container h2 {
    font-size: 1.2rem;
  }

  .info-item label {
    font-size: 0.9rem;
  }

  .info-item span {
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  .add-amulet-fee-form-group input,
  .add-amulet-fee-form-group select {
    padding: 0.7rem;
    font-size: 0.8rem;
  }

  .add-amulet-fee-cancel-button,
  .add-amulet-fee-save-button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}
