.add-new-driver-container {
  background-color: #1e1e1e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.category-input::placeholder {
  color: #666;
}

.add-new-driver-main-content {
  /* flex: 1; */
  overflow-y: auto;
  padding: 1rem;
  background-color: rgba(215, 215, 215, 0.01);
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a #2c2c2c;

  border-radius: 10px;
  padding: 2rem;

  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-new-driver-avatar {
  width: 80px;
  height: 80px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem;
}

.add-new-driver-avatar svg {
  font-size: 40px;
  color: #666;
}

.add-new-driver-form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Style for password input */
.password-toggle {
  position: absolute;
  top: 45%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
}

.add-new-driver-form-group {
  position: relative;
}

.add-new-driver-form-group input[type="password"],
.add-new-driver-form-group input[type="text"],
.add-new-driver-form-group select {
  padding-right: 40px; /* Add space for the icon */
}

/* Tablet Responsiveness */
@media (max-width: 1024px) {
  .add-new-driver-form-grid {
    grid-template-columns: 1fr;
  }
}
