.admin-sidebar {
  z-index: 1001;
  width: 210px;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  padding: 1rem;
  overflow: hidden; /* Ensure the sidebar itself does not scroll */
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease, width 0.3s ease;
  display: flex;
  flex-direction: column;
}

.admin-sidebar.active {
  transform: translateX(0);
}

.admin-sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.admin-sidebar-header {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--sidebar-hover);
  flex-shrink: 0; /* Ensure the header doesn't shrink */
}

.admin-logo {
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
}

.admin-logo-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.admin-sidebar-nav {
  flex-grow: 1; /* Take up available space */
}

.admin-sidebar-nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0; /* Ensure there's no extra margin */
}

.admin-sidebar-nav li {
  margin-bottom: 0.5rem;
}

.admin-sidebar-nav .admin-menu-link,
.admin-logout-button {
  color: var(--sidebar-text);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding: 0.7rem;
  border-radius: 5px;
  transition: background-color 0.3s;
  background: #292929;
  border: none;
  cursor: pointer;
  width: 100%;
}

.admin-sidebar-nav .admin-menu-link:hover,
.admin-logout-button:hover {
  background-color: var(--sidebar-hover);
  color: #fff;
}

.admin-sidebar-nav .admin-menu-link .admin-icon,
.admin-logout-button .admin-icon {
  margin-right: 0.5rem;
  width: 14px;
  text-align: center;
}

.admin-logout-container {
  margin-top: auto;
  padding-top: 1rem;
  border-top: 1px solid var(--sidebar-hover);
}

@media (min-width: 769px) {
  .admin-sidebar {
    transform: translateX(-100%);
  }

  .admin-sidebar.active {
    transform: translateX(0);
  }

  .admin-main-content.sidebar-open {
    margin-left: 0;
  }

  .admin-sidebar-nav {
    flex-grow: 1; /* Take up available space */
    overflow-y: auto; /* Make the navigation scrollable */
    padding-right: 0.5rem; /* Add a little padding for the scrollbar */
  }
}

@media (max-width: 768px) {
  .admin-sidebar {
    transform: translateX(-100%);
  }

  .admin-sidebar.active {
    transform: translateX(0);
    position: fixed;
    z-index: 1001;
  }

  .admin-main-content.sidebar-open {
    margin-left: 250px;
  }

  .admin-sidebar-nav {
    flex-grow: 1; /* Take up available space */
    overflow-y: auto; /* Make the navigation scrollable */
    padding-right: 0.5rem; /* Add a little padding for the scrollbar */
  }
}
