.stopping-passengers-container {
  background-color: #1e1e1e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.stopping-passengers-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
  gap: 0.5rem;
}

.stopping-passengers-main-content {
  flex: 1;
  overflow-y: auto;
  padding: 0 0.5rem;
  background-color: #1e1e1e;
}

.stopping-passengers-tables-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stopping-passengers-table-section {
  flex: 1;
  min-width: 0;
}

.stopping-passengers-table-section h3 {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.stopping-passengers-table-section h3 svg {
  color: #11a8fd;
}

.stopping-passengers-table-container {
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .stopping-passengers-controls {
    flex-direction: column;
    align-items: stretch;
  }
  .stopping-passengers-tables-container {
    flex-direction: column;
  }
}
