.order-details-container {
  background-color: #1e1e1e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.order-details-main-content {
  flex: 1;
  overflow-y: auto;
  padding: 0rem 0.5rem;
  background-color: #1e1e1e;
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a #2c2c2c;
}

.order-details-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.order-details-date {
  display: flex;
  justify-content: flex-end;
}
.order-details-date input {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.order-details-action-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 0.3rem;
}

.view-icon {
  color: #11a8fd;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .order-details-controls {
    flex-direction: column;
    align-items: stretch;
  }

  .order-details-action-buttons {
    justify-content: flex-end;
  }
}
