.admin-home-container {
  background-color: #1e1e1e;
  color: #ffffff;
  height: 100%; /* Set to 100% of the viewport height */
  display: flex;
  flex-direction: column;
}

.admin-top-bar {
  background-color: #222222;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.admin-menu-icon {
  font-size: 1rem;
  cursor: pointer;
}

.admin-top-bar h1 {
  margin: 0;
  font-size: 1.3rem;
}

.admin-top-bar-icons {
  display: flex;
  gap: 15px;
}

.admin-icon {
  font-size: 1rem;
  cursor: pointer;
}

.admin-home-icon {
  font-size: 1rem;
  cursor: pointer;
}

.admin-main-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  padding-right: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a #2c2c2c;
}

.admin-sub-content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 1rem;
}

.admin-left-column {
  flex: 2 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
}

.admin-content-wrapper h2,
.admin-boarding-data h2,
.admin-warnings h2 {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.admin-warnings svg {
  color: #ff0000;
}
.admin-data-cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.admin-data-card {
  flex: 1;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  background-color: #292929;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-left: 5px solid transparent;
}

/* First card (nth-child(1)) */
.admin-data-card:nth-child(1) {
  border-left-color: #4fa300; /* Green border for first card */
}

/* Second card (nth-child(2)) */
.admin-data-card:nth-child(2) {
  border-left-color: #2196f3; /* Blue border for second card */
}

/* Third card (nth-child(3)) */
.admin-data-card:nth-child(3) {
  border-left-color: #ff9800; /* Orange border for third card */
}

.admin-data-card h3 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.admin-data-card p {
  margin: 5px 0 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.admin-boarding-data {
  background-color: #292929;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 2px solid #333;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-boarding-chart {
  width: 150px;
  height: 150px;
  margin-bottom: 1.5rem;
}

.admin-boarding-info {
  text-align: center;
}

.admin-boarding-number,
.admin-boarding-total {
  font-weight: bold;
}

.admin-status-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.admin-status-card {
  background-color: #292929;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 2px solid #333;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.admin-status-card h3 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.admin-status-card p {
  margin: 5px 0 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.admin-warnings {
  background-color: #292929;
  border: 2px solid #333;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.admin-warning-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px; /* Add space between the content and the border */
  border-bottom: 1px solid #444; /* Add a horizontal line */
}
.admin-warning-item:last-child {
  border-bottom: none; /* Remove the border from the last item */
  padding-bottom: 0;
}

.admin-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.admin-warning-content h3 {
  margin: 0;
  font-size: 1rem;
}

.admin-warning-content p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  color: #ccc;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e1e;
  color: #ffffff;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #ffffff;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  animation: spin 1s linear infinite;
}

.loading-container p {
  font-weight: 600;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .admin-sub-content-wrapper {
    flex-direction: column;
  }

  .admin-left-column,
  .admin-right-column {
    flex: 1;
  }

  .admin-boarding-data {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .admin-boarding-chart {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .admin-data-cards,
  .admin-status-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .admin-boarding-data {
    flex-direction: column;
  }

  .admin-boarding-chart {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .admin-main-content {
    padding: 1rem 0.8rem;
  }
}

@media (max-width: 480px) {
  .admin-top-bar h1 {
    font-size: 1.2rem;
  }

  .admin-data-card p,
  .admin-status-card p {
    font-size: 1.2rem;
  }
}
