.add-admin-form-container {
  background-color: rgba(215, 215, 215, 0.01);
  border-radius: 10px;
  padding: 2rem;
  max-width: 1850px;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.add-admin-form-password-container {
  position: relative;
  width: 100%;
}

.add-admin-form-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.add-admin-form-container h2 {
  text-align: center;
  color: #ffffff;
  margin: 0;
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.3rem;
}

.add-admin-form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 768px) {
  .add-admin-form-container {
    padding: 1.5rem;
  }

  .add-admin-form-header {
    margin-bottom: 1rem;
  }

  .add-admin-form-container h2 {
    font-size: 1.2rem;
  }

  .add-admin-form-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .add-admin-form-container {
    padding: 1rem;
  }
}
