.add-department-form-container {
  background-color: rgba(215, 215, 215, 0.01);
  border-radius: 10px;
  padding: 2rem;
  max-width: 1850px;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.department-form-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.add-department-form-container h2 {
  text-align: center;
  color: #ffffff;
  margin: 0;
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.3rem;
}

.department-form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns for desktop/tablet */
  gap: 1rem;
}

/* Form Content with Flexbox layout */
.department-form-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 1rem;
}

/* Vertical Line added as a flex child */
.department-vertical-line {
  width: 2px;
  background-color: #11a8fd;
  flex-shrink: 0;
  height: auto;
  align-self: stretch;
}

.department-right-side {
  flex: 1;
  width: 100%;
}

.department-left-side {
  flex: 1;
  color: #ffffff;
  width: 100%;
}

.department-left-side h3 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.3rem;
}

.department-left-side ul {
  list-style-type: none;
  padding: 0rem;
}

.department-left-side li {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.department-left-side li strong {
  flex-basis: 40%;
  color: #11a8fd;
}

.department-left-side li span {
  flex-basis: 60%;
  text-align: right;
}

/* Responsive adjustments for Tablet - max-width: 768px */
@media (max-width: 768px) {
  .add-department-form-container {
    padding: 1.5rem;
    max-width: 100%;
  }

  .department-left-side h3,
  .department-form-header {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .add-department-form-container h2 {
    font-size: 1.2rem;
  }

  .department-form-grid {
    grid-template-columns: 1fr;
  }

  .department-form-content {
    flex-direction: column;
  }

  .department-vertical-line {
    display: block;
    width: 100%;
    height: 2px;
  }

  .department-left-side {
    padding-right: 0;
  }

  .department-left-side li {
    flex-direction: row;
    text-align: left;
  }

  .department-left-side li strong,
  .department-left-side li span {
    flex-basis: 50%;
    text-align: left;
  }
}

/* Responsive adjustments for Mobile - max-width: 480px */
@media (max-width: 480px) {
  .add-department-form-container {
    padding: 1rem;
    max-width: 100%;
  }

  .department-form-grid {
    grid-template-columns: 1fr;
  }
  .department-form-content {
    flex-direction: column;
    align-items: center;
  }

  .department-vertical-line {
    display: block;
    width: 100%;
    height: 2px;
  }

  .department-left-side ul {
    padding: 0.5rem;
  }

  .department-left-side li {
    flex-direction: column;
    text-align: left;
  }

  .department-left-side li strong,
  .department-left-side li span {
    flex-basis: 100%;
    text-align: left;
  }
}
